/* elements */

body {
    background-color: rgb(20, 21, 25);
}

/* classes */
.btn {
    background-color: hsl(25, 97%, 53%) !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    background-image: radial-gradient(closest-side at 50% 25%, rgb(33, 40, 50), rgb(23, 30, 40));
    color: white;
    max-width: 25rem;
    height: 25rem;
}

.card-body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-body p {
    color: hsl(216, 12%, 54%);
}

.card-title {
    margin-top: 2rem;
    font-family: 'Overpass', sans-serif;
    font-size: 23px;
    font-weight: 700;
}

.container-fluid {
    height: 100vh;
}

.numbers-for-rating {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.span {
    color: hsl(216, 12%, 54%);
}

.star-icon {
    background-color: rgb(33, 40, 50) !important;
    height: 50px;
    width: 50px;
    padding-top: 1rem;
}