/* elements */

body {
    background-color: rgb(20, 21, 25);
}

/* classes */
.badge {
    font-size: 20px !important;
    font-family: 'Overpass', sans-serif !important;
    font-weight: lighter !important;
    color: hsl(217, 12%, 63%);
}

.btn {
    background-color: hsl(25, 97%, 53%) !important;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn:hover {
    background-color: whitesmoke !important;
    color: hsl(25, 97%, 53%);
}

.card {
    background-image: radial-gradient(closest-side at 50% 35%, rgb(33, 40, 50), rgb(23, 30, 40));
    color: white;
    max-width: 27.5rem;
    height: 27.5rem;
}

.card-body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-body p {
    color: hsl(216, 12%, 54%);
}

.card-title {
    margin-top: 2rem;
    font-family: 'Overpass', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.circle-icon {
    height: 50px;
    width: 50px;
    padding-top: 1rem;
}

.container-fluid {
    height: 100vh;
}

.inactive {
    background-color: rgb(33, 40, 50) !important;
}

.active {
    background-color: hsl(25, 97%, 53%) !important;
    color: white !important;
}

.n {
    margin-right: 1.3rem;
}

.n:hover {
    background-color: hsl(218, 12%, 54%) !important;
    color: white;
}

.numbers-for-rating {
    margin-top: 2rem;
}